body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    background-color: #e9d8a6;
    color: rgb(27, 1, 48);
}

.container{
    display: flex;
    flex-flow: column wrap;
    padding-left: 1em;
    background-color: rgb(8, 131, 168);

}

.container div {
    flex: 1;
}

h1 {
    text-align: center;
}

.userData {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    padding-bottom: 1.5em;
}
.userData div {
   border: 1px solid black;
   text-align: center;
   padding: 0.2em;
}

.dates {
    padding-left: 24%;
}
.dates div{
    padding: 0.5em;
}
.first input[type=date]{
    margin-left: 2.5em;
}
.second input[type=date]{
    margin-left: 0.7em;
}
input[type=date]{ 
	width: 20%;
	display: inline-block;
	padding: 12px 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
    background-color: rgb(141, 6, 74);
    font-size: 1em;
    color: rgb(0, 207, 207);
}

.color1{
    background-color: rgb(226, 43, 43);
}
.color2 {
    background-color: chocolate;
}
.color3{
    background-color: green;
}